@model IEnumerable<MvcClients.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>

<h1>Mes clients</h1>

<table class="table" id="tblData">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Civilite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach(var item in Model)
        {
        <tr>
            <td>@item.ClientId</td>
            <td>@item.Civilite</td>

            <td>@item.Nom</td>

            <td>@item.Prenom</td>

            <td>@item.Mail</td>

            <td>@item.Telephone</td>
        </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create">Nouveau client</a><br />
    <a asp-action="Create5User">Ajouter 5 clients </a>
</p>

@*@section Scripts{
        <script src="~/js/clients.js"></script>
    }*@

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tblData').DataTable();
    </script>
}

